.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  top:0;
  margin-bottom:auto;
a {
  color:#000;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

li {


}
li a {
  display: block;
  border-bottom: 3px solid #f4f4f4;
  text-decoration: none;
  text-transform: uppercase;
  padding:10px;
  letter-spacing: 2px;
  transition:0.4s ease-out;
  font-weight:700;
}

li a:hover,
.header .menu-btn:hover {
  background-color: #444;
  color: #fff;
}

.logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  letter-spacing: 1px;
}

.home-logo {
  a {

  }
  img {
    width:100%;
    height:auto;
  }

}
/* menu */

.menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;

}

/* menu icon */

.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 300px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
}
@media (min-width: 48em) {

  
  .header li {
    display:inline-block;
    width:150px;
  }
  .header li a {
    text-align: center;
  }
  .header .menu {
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
  }
  .header .menu-icon, .header .logo {
    display: none;
  }
}

#contactbtn {
    background-color: rgb(101, 106, 156);
    color:white;
    transition:0.4s ease-out;
    &:hover {
      background-color:black;
    }
}



#mobile-contact {
  display:none;
}

@media (max-width:480px) {
  #contactbtn {
  }
  #mobile-contact {

  }

  .home-button {
    display:none;
  }
}
