@import 'fonts';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family:$default;
}

body {
  margin:0;
  background-color: #212121;
}

main {
  margin-top:63px;
}
#canvas {
  z-index:-1;
}
.image {
  width:100%;
  height: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

:target:before {
  content:"";
  display:block;
  height:60px; /* fixed header height*/
  margin:-60px 0 0; /* negative fixed header height */
}
@import 'header';

@import 'simple-grid';

@import 'skillbar';

@import 'contact';


.button {
  margin-top:15px;
  padding:10px 35px;
  background-color:transparent;
  border:2px solid white;
  border-radius:50px;
  color:white;
  text-decoration: none;
  transition:0.4s ease-out;
  font-family: "Karla",Helvetica,sans-serif;
  i {
    color:white;
    padding-right:5px;
    transition:0.4s ease-out;
  }

}

.button:hover {
  background-color:rgba(255,255,255,.9);
  color:rgb(101, 106, 156);
  text-shadow:none;
  i {
    color: rgb(101, 106, 156);
  }
}

 .title {
   text-shadow:
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
   font-size:1.5rem;

    .letter {
      letter-spacing:2px;
      font-size:30px;
    }
}

.active {
  background-color:#333447;
  color:white!important;
}

.landing {
  text-align:center;
  h1 {
    margin:100px;
    color:#fff;
  }
  h2 {
    color:#fff;

  }
}

.opaque {

}

.services {
  line-height: 50px;
  margin:4em 0;
  h1 {
    margin:30px;
  }
  padding:3em 0;
}

.content {
  width:100%;
  margin:auto;
  background-color:#fff;
  .row {
    padding:3em 0;
  }
  h3 {

  }
  i {
    padding-right:5px;
  }
}

.flair {
  font-size:1.5em;
}

#wordpress {

}

@media (max-width:1000px) {
  .button {
    display:block;
  }
}
@media (max-width:480px) {
  .landing {
    h1 {
      margin:10px;
      font-size:1.5em;
    }
  }
  .services {
    padding:20px 10px 10px 10px;
    margin:20px;
  }
  .button {
    padding:5px!important;
    font-size:15px;
    display:block;
  }

  .content {
    .row {
      padding:0;
    }
  }

  .flair {
    font-size:1.2em;
  }
}

#seo {
  background-color:#0073aa;
  h1, h2, h3, h4, p {
    color:#fff;
  }
  p {
    font-size:1.5em;
  }
}

.footer-text {
  text-align:center;
  width:100%;
  color:white;
  margin:auto;
  padding:4em 0em;
}

.more-link {
  font-size:2em;
  text-decoration:none;
  border-bottom:2px solid #212121;
  border-radius:50px;
  transition:0.4s ease-out;
  padding:0em 0.2em;
  text-align: center;
  display:block;
  width:210px;
  margin:auto;
  background-color:white;
  i {
    font-size:0.8em;
    transition:0.4s ease-out;
    padding-left:5px;
  }
  &:hover {
    background-color:black;
    color:white;
    i {
      color:white;
    }
  }
}

@media (max-width:480px) {
  .more-link {
    width:70%;
  }
}

.about {
  h1, h2 {
    text-align:center;
  }
}

#workhistory {
  .time {
    border-right:1.5px dashed rgba(0, 0, 0, 0.6);
    width:50%;
    float:left;
    text-align:right;
    padding:1em;
    div {
      height:200px;
      strong {
        font-size:1.2em;
      }
      small {
        font-size:1em;
      }
      small, strong {
        display:block;

      }
      span {
        float:right;
      }
    }
  }

  .job {
    width:50%;
    padding:1em;
    float:right;
    text-align:left;
    div {
      height:200px;
      p {
        margin:0;
      }
    }
  }
}

@media (max-width:480px) {
  #workhistory {
    .time {
      padding:0.5em;
    }
    .job {
      padding:0.5em;
     p {
       font-size:0.85em;
       line-height:15px;
     }
   }
  }
}

#canterburygardens {

}

#yourchristmasstore {
  background-color:#d42642;
  h1, h2, h3, p, ul, li, strong, small, a {
    color:#fff;
    text-decoration: none;
  }
}