@import url("https://fonts.googleapis.com/css?family=Karla:400,700|Nunito+Sans:300,300i,400,400i,600,600i,700,700i,800,900");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans+Condensed:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i");
* {
  font-family: "Nunito Sans";
  color: #333447;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Sans";
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: "Nunito Sans";
}

body {
  margin: 0;
  background-color: #212121;
}

main {
  margin-top: 63px;
}

#canvas {
  z-index: -1;
}

.image {
  width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

:target:before {
  content: "";
  display: block;
  height: 60px;
  /* fixed header height*/
  margin: -60px 0 0;
  /* negative fixed header height */
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  margin-bottom: auto;
  /* menu */
  /* menu icon */
  /* menu btn */
  /* 48em = 768px */
}

.header a {
  color: #000;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  border-bottom: 3px solid #f4f4f4;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 2px;
  transition: 0.4s ease-out;
  font-weight: 700;
}

.header li a:hover,
.header .header .menu-btn:hover {
  background-color: #444;
  color: #fff;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  letter-spacing: 1px;
}

.header .home-logo img {
  width: 100%;
  height: auto;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    display: inline-block;
    width: 150px;
  }
  .header li a {
    text-align: center;
  }
  .header .menu {
    display: table;
    /* Allow the centering to work */
    margin: 0 auto;
  }
  .header .menu-icon, .header .logo {
    display: none;
  }
}

#contactbtn {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-color: black;
  transition: 0.4s ease-out;
}

#contactbtn:hover {
  background-color: black;
  color: white;
}

#mobile-contact {
  display: none;
}

@media (max-width: 480px) {
  .home-button {
    display: none;
  }
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 33.75em) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 60em) {
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33333%;
}

.col-2-sm {
  width: 12.66667%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33333%;
}

.col-5-sm {
  width: 37.66667%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33333%;
}

.col-8-sm {
  width: 62.66667%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33333%;
}

.col-11-sm {
  width: 87.66667%;
}

.col-12-sm {
  width: 96%;
}

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.33333%;
  }
  .col-2 {
    width: 12.66667%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33333%;
  }
  .col-5 {
    width: 37.66667%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33333%;
  }
  .col-8 {
    width: 62.66667%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33333%;
  }
  .col-11 {
    width: 87.66667%;
  }
  .col-12 {
    width: 96%;
  }
  .hidden-sm {
    display: block;
  }
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: white;
}

.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}

.contactform input {
  margin: 1em 0;
}

.contactform input[type="text"], .contactform input[type="email"], .contactform textarea {
  display: block;
  margin: auto;
  width: 60%;
  padding: 20px;
}

.contactform textarea {
  height: 200px;
}

.contactform button {
  display: block;
  margin: 10px auto;
  color: black;
  background-color: white;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  width: 100px;
  transition: 0.4s ease-out;
}

.contactform button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 480px) {
  .contactform input[type="text"], .contactform input[type="email"], .contactform textarea {
    width: 90%;
    padding: 10px;
  }
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 50px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 15px;
}

.close:hover,
.close:focus {
  color: #999999;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 3px;
  border-radius: 50px;
  text-align: center;
}

.modal-header h2 {
  color: black;
  padding: none;
  margin-bottom: 0;
  text-transform: uppercase;
}

.modal-body {
  padding: 2px 16px;
}

.web-preview {
  display: none;
}

.web-preview-m {
  display: none;
}

@media screen and (min-width: 600px) {
  .web-preview {
    width: 100%;
  }
  .web-preview-m {
    width: 100%;
  }
}

.button {
  margin-top: 15px;
  padding: 10px 35px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  transition: 0.4s ease-out;
  font-family: "Karla",Helvetica,sans-serif;
}

.button i {
  color: white;
  padding-right: 5px;
  transition: 0.4s ease-out;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #656a9c;
  text-shadow: none;
}

.button:hover i {
  color: #656a9c;
}

.title {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 1.5rem;
}

.title .letter {
  letter-spacing: 2px;
  font-size: 30px;
}

.active {
  background-color: #333447;
  color: white !important;
}

.landing {
  padding-top: 100px;
  text-align: center;
}

.landing h1 {
  color: #fff;
}

.landing h2 {
  color: #fff;
}

.services {
  line-height: 50px;
  margin: 4em 0;
  padding: 3em 0;
}

.services h1 {
  margin: 30px;
}

.content {
  width: 100%;
  margin: auto;
  background-color: #fff;
}

.content .row {
  padding: 3em 0;
}

.content i {
  padding-right: 5px;
}

.flair {
  font-size: 1.5em;
}

.wordChange {
  color: #212121;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  display: inline;
}

@media (max-width: 1000px) {
  .button {
    display: block;
  }
}

@media (max-width: 480px) {
  .landing h1 {
    margin: 10px;
    font-size: 1.5em;
  }
  .services {
    padding: 20px 10px 10px 10px;
    margin: 20px;
  }
  .button {
    padding: 5px !important;
    font-size: 15px;
    display: block;
  }
  .content .row {
    padding: 0;
  }
  .flair {
    font-size: 1.2em;
  }
}

#seo {
  background-color: #0073aa;
}

#seo h1, #seo h2, #seo h3, #seo h4, #seo p {
  color: #fff;
}

#seo p {
  font-size: 1.5em;
}

.footer-text {
  text-align: center;
  width: 100%;
  color: white;
  margin: auto;
  padding: 4em 0em;
}

.footer-text i {
  color: red;
  margin: 0 0.1em;
}

.more-link {
  font-size: 2em;
  text-decoration: none;
  border-bottom: 2px solid #212121;
  border-radius: 50px;
  transition: 0.4s ease-out;
  padding: 0em 0.2em;
  text-align: center;
  display: block;
  width: 210px;
  margin: auto;
  background-color: white;
}

.more-link i {
  font-size: 0.8em;
  transition: 0.4s ease-out;
  padding-left: 5px;
}

.more-link:hover {
  background-color: black;
  color: white;
}

.more-link:hover i {
  color: white;
}

@media (max-width: 480px) {
  .more-link {
    width: 70%;
  }
}

#webdev .more-link {
  font-size: 1em;
}

.about h1, .about h2 {
  text-align: center;
}

#workhistory .time {
  border-right: 1.5px dashed rgba(0, 0, 0, 0.6);
  width: 50%;
  float: left;
  text-align: right;
  padding: 1em;
}

#workhistory .time div {
  height: 200px;
}

#workhistory .time div strong {
  font-size: 1.2em;
}

#workhistory .time div small {
  font-size: 1em;
}

#workhistory .time div small, #workhistory .time div strong {
  display: block;
}

#workhistory .time div span {
  float: right;
}

#workhistory .job {
  width: 50%;
  padding: 1em;
  float: right;
  text-align: left;
}

#workhistory .job div {
  height: 200px;
}

#workhistory .job div p {
  margin: 0;
}

@media (max-width: 480px) {
  #workhistory .time {
    padding: 0.5em;
  }
  #workhistory .job {
    padding: 0.5em;
  }
  #workhistory .job p {
    font-size: 0.85em;
    line-height: 15px;
  }
}

#yourchristmasstore {
  background-color: #d42642;
}

#yourchristmasstore h1, #yourchristmasstore h2, #yourchristmasstore h3, #yourchristmasstore p, #yourchristmasstore ul, #yourchristmasstore li, #yourchristmasstore strong, #yourchristmasstore small, #yourchristmasstore a {
  color: #fff;
  text-decoration: none;
}

#webdev-info {
  display: none;
}

#webdev-readmore {
  font-size: 2em;
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  transition: 0.4s ease-out;
  padding: 0 0.3em;
  cursor: pointer;
}

#webdev-readmore:hover {
  color: white;
  background-color: black;
}
/*# sourceMappingURL=styles.css.map */